@import "tailwindcss";
@import "@fontsource/archivo-black";
@import "@fontsource/space-mono";

@theme {
  --font-heading: "Archivo Black", sans-serif;

  --font-sans: "Space Mono", monospace;
}

@layer base {
  body {
    @apply bg-amber-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    @apply uppercase tracking-tight;
  }
}
