---
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";


---
<title slot="head">Movie App</title>

<AppLayout>
<MainLayout>
	<h1>Hello, world!</h1>
</MainLayout>
</AppLayout>