---
const year = new Date().getFullYear();
---
<footer class="bg-zinc-900 text-white">
    <div class="max-w-6xl mx-auto px-6 py-8 md:px-0">
            <div class="text-sm">
            <h3 class="font-bold text-white text-lg">MovieApp</h3>
            <p>All rights reserved</p>
            <p>API from <a href="https://www.themoviedb.org/" class="underline">TMDB</a></p>
            <p>&copy;{year} Made with ❤️ by <a href="https://github.com/alfathmuqoddas" class="underline">Alfath Muqoddas</a></p>
            </div>
    </div>
</footer>