---
import SearchMovie from "./SearchMovie.astro"
---

<nav class="max-h-16 py-4 px-6 bg-zinc-900 text-white">
    <div class="flex gap-8 items-center justify-between max-w-6xl mx-auto">
        <a href="/" class="">
             <h1 class="text-primary font-bold text-2xl">MovieApp</h1>
        </a>
        <SearchMovie />
    </div>
</nav>