---

const { searchParams } = Astro.url;
const query = searchParams.get("query") || "";
---
<form action="/search" method="GET">
  <div class="flex gap-1 border rounded-lg border-zinc-200 bg-white items-center max-w-48">
    <input 
      type="text" 
      name="query"
      placeholder="Search movies..." 
      class="text-black px-2 py-1 w-full"
      value={query}
      required
    />
    <button type="submit" class="pr-2">
      🔍
    </button>
  </div>
</form>